# Day2 Assignment

##### Exercises: Level 1

In [10]:

# Day 2: 30 Days of python programming

first_name = "Shafiu"
last_name = "Muhammad"
full_name = "Shafiu Muhammad"
country = "Nigeria"
age = 50
year = 2023
is_married = False
is_true = True
is_light = True
first_name, last_name, country, age, is_married = 'Shafiu', 'Muhammad', 'Nigeria', 50, False

# Exercises: Level 2

In [11]:
# exercise 1

print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [12]:
# exercise 2
print(len(first_name))

6

In [13]:
# exercise 3

print(len(first_name))
print(len(last_name))

6
8

In [8]:
# exercise 4

num_one = 5
num_two = 4
total = num_one + num_two
diff = num_one - num_two
product = num_one * num_two
division = num_one / num_two
remainder = num_two % num_one
exp = num_one ** num_two
floor_division = num_one // num_two

In [6]:
# exercise 5

radius = 30
area_of_circle = 3.14 * radius ** 2
circum_of_circle = 2 * 3.14 * radius

user_radius = eval(input("Enter the radius of the circle: "))
user_area_of_circle = 3.14 * user_radius ** 2

In [7]:
# exercise 6

user_first_name = input("Enter your first name: ")
user_last_name = input("Enter your last name: ")
user_country = input("Enter your country: ")
user_age = input("Enter your age: ")