# Exercises - Day 7

##### Exercises: Level 1

In [6]:
# exercise 1
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

Length of it_companies: 7

In [7]:
# exercise 2
it_companies.add('Twitter')
print("After adding 'Twitter':", it_companies)

After adding 'Twitter': {'Twitter', 'Apple', 'Google', 'Amazon', 'Microsoft', 'IBM', 'Oracle', 'Facebook'}

In [8]:
# exercise 3
it_companies.update({'LinkedIn', 'Snapchat', 'Twitter'})
print("After updating with multiple companies:", it_companies)

After updating with multiple companies: {'Apple', 'Google', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'LinkedIn', 'Snapchat', 'Oracle', 'Facebook'}

In [9]:
# exercise 4
it_companies.remove('Snapchat')
print("After removing 'Snapchat':", it_companies)

After removing 'Snapchat': {'Apple', 'Google', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'LinkedIn', 'Oracle', 'Facebook'}

In [5]:
# exercise 5
it_companies.remove('Snapchat')
print("After removing 'Snapchat':", it_companies)

After removing 'Snapchat': {'Apple', 'Google', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'LinkedIn', 'Oracle', 'Facebook'}

### exercise 6
#### Difference between remove and discard:
##### - remove(): Removes the specified element from the set. If the element is not present, it raises a KeyError.
##### - discard(): Removes the specified element from the set. If the element is not present, it does nothing (no error).

##### Exercises: Level 2

In [19]:
# exercise 1
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
union_set = A.union(B)
print("Union of A and B:", union_set)

Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
# exercise 2
intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)

Intersection of A and B: {19, 20, 22, 24, 25, 26}

In [21]:
# exercise 3
is_subset = A.issubset(B)
print("Is A a subset of B:", is_subset)

Is A a subset of B: True

In [22]:
# exercise 4
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_disjoint)

Are A and B disjoint sets: False

In [23]:
# exercise 5
A.update(B)
B.update(A)
print("A after joining with B:", A)
print("B after joining with A:", B)

A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}

In [24]:
# exercise 6
symmetric_difference_set = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference_set)

Symmetric difference between A and B: set()

In [25]:
# exercise 7
del A
del B

##### Exercises: Level 3

In [26]:
# exercise 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages_set = set(ages)
length_list = len(ages)
length_set = len(ages_set)

print("Length of the list:", length_list)
print("Length of the set:", length_set)

print("The length of the list is bigger than the length of the set")

Length of the list: 8
Length of the set: 5
The length of the list is bigger than the length of the set

### exercise 2
#### Explanation of different data types: string, list, tuple, and set:
##### - String: An ordered and immutable sequence of characters. Strings are used to represent text and are enclosed in single or double quotes.

##### - List: An ordered and mutable collection of elements. Lists can contain elements of different data types and are defined using square brackets [].

##### - Tuple: An ordered and immutable collection of elements. Tuples are similar to lists but use parentheses () for definition. Once created, a tuple cannot be modified.

##### - Set: An unordered and mutable collection of unique elements. Sets are defined using curly braces {} or the set() constructor. They are commonly used to perform mathematical set operations like union, intersection, and difference.

In [27]:
# exercise 3
sentence = "I am a teacher and I love to inspire and teach people."
words = set(sentence.split())
unique_word_count = len(words)
print("Number of unique words:", unique_word_count)

Number of unique words: 10