# Exercises - Day 5

##### Exercises: Level 1

In [1]:
# exercise 1
empty_list = []

In [2]:
# exercise 2
more_than_five_items = [1, 2, 3, 4, 5, 6, 7]

In [3]:
# exercise 3
length_of_list = len(more_than_five_items)

In [4]:
# exercise 4
first_item = more_than_five_items[0]
middle_item = more_than_five_items[length_of_list // 2]
last_item = more_than_five_items[-1]

In [5]:
# exercise 5
mixed_data_types = ['John', 25, 175, 'Single', '123 Main St']

In [6]:
# exercise 6
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
# exercise 7
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
# exercise 8
number_of_companies = len(it_companies)
print(number_of_companies)

7

In [9]:
# exercise 9
first_company = it_companies[0]
middle_company = it_companies[number_of_companies // 2]
last_company = it_companies[-1]

print(first_company)
print(middle_company)
print(last_company)

Facebook
Apple
Amazon

In [10]:
# exercise 10
it_companies[2] = 'LinkedIn'
print(it_companies)

['Facebook', 'Google', 'LinkedIn', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [11]:
# exercise 11
it_companies.append('Twitter')

In [12]:
# exercise 12
it_companies.insert(number_of_companies // 2, 'Salesforce')

In [13]:
# exercise 13
it_companies[4] = it_companies[4].upper()

In [14]:
# exercise 14
joined_companies = '#; '.join(it_companies)
print(joined_companies)

Facebook#; Google#; LinkedIn#; Salesforce#; APPLE#; IBM#; Oracle#; Amazon#; Twitter

In [15]:
# exercise 15
company_to_check = 'Microsoft'
company_exists = company_to_check in it_companies
print(company_exists)

False

In [16]:
# exercise 16
it_companies.sort()

In [17]:
# exercise 17
it_companies.reverse()

In [18]:
# exercise 18
first_three_companies = it_companies[:3]

In [19]:
# exercise 19
last_three_companies = it_companies[-3:]

In [20]:
# exercise 20
middle_index = len(it_companies) // 2
middle_companies = it_companies[middle_index - 1:middle_index + 2]

In [21]:
# exercise 21
it_companies.pop(0)

'Twitter'

In [22]:
# exercise 22
it_companies.pop(middle_index)

'Google'

In [23]:
# exercise 23
it_companies.pop()

'APPLE'

In [24]:
# exercise 24
it_companies.clear()

In [25]:
# exercise 25
del it_companies

In [26]:
# exercise 26
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

In [30]:
# exercise 27
full_stack = front_end + back_end
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Redux') + 2, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

##### Exercises: Level 2

In [32]:
# List of 10 students ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages.sort()
min_age = min(ages)
max_age = max(ages)

# Add the min age and the max age again to the list
ages.extend([min_age, max_age])

# Find the median age
middle_index = len(ages) // 2
median_age = (ages[middle_index - 1] + ages[middle_index]) / 2 if len(ages) % 2 == 0 else ages[middle_index]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of the ages
age_range = max(ages) - min(ages)

# Compare the value of (min - average) and (max - average), use abs() method
min_average_difference = abs(min_age - average_age)
max_average_difference = abs(max_age - average_age)

# Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle_countries = countries[len(countries) // 2]

# Divide the countries list into two equal lists if it is even, if not one more country for the first half
half_length = len(countries) // 2
first_half_countries = countries[:half_length + len(countries) % 2]
second_half_countries = countries[half_length + len(countries) % 2:]

# Unpack the first three countries and the rest as scandic countries
first_country, second_country, third_country, *scandic_countries = countries

# Print the results
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)
print("Min - Average Difference:", min_average_difference)
print("Max - Average Difference:", max_average_difference)
print("Middle Countries:", middle_countries)
print("First Half Countries:", first_half_countries)
print("Second Half Countries:", second_half_countries)
print("Unpacked Countries:")
print("First Country:", first_country)
print("Second Country:", second_country)
print("Third Country:", third_country)
print("Scandic Countries:", scandic_countries)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7
Min - Average Difference: 3.75
Max - Average Difference: 3.25
Middle Countries: Finland
First Half Countries: ['China', 'Russia', 'USA', 'Finland']
Second Half Countries: ['Sweden', 'Norway', 'Denmark']
Unpacked Countries:
First Country: China
Second Country: Russia
Third Country: USA
Scandic Countries: ['Finland', 'Sweden', 'Norway', 'Denmark']