# Exercises - Day 8

In [17]:
# exercise 1
dog = {}

In [19]:
# exercise 2
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3
print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}

In [30]:
# exercise 3
student = {
    'first_name': 'Shafiu',
    'last_name': 'Muhammad',
    'gender': 'Male',
    'age': 35,
    'marital_status': 'Single',
    'skills': ['Python', 'HTML', 'JavaScript', 'SQL','php'],
    'country': 'Nigeria',
    'city': 'Zaria',
    'address': 'Kaduna State'
}

In [31]:
# exercise 4
length_student = len(student)
print("Length of the student dictionary:", length_student)

Length of the student dictionary: 9

In [32]:
# exercise 5
skills_value = student['skills']
print("Skills:", skills_value)
print("Data type of skills:", type(skills_value))

Skills: ['Python', 'HTML', 'JavaScript', 'SQL', 'php']
Data type of skills: <class 'list'>

In [33]:
# exercise 6
student['skills'].extend(['React', 'Django'])
print("Skills:", skills_value)

Skills: ['Python', 'HTML', 'JavaScript', 'SQL', 'php', 'React', 'Django']

In [34]:
# exercise 7
keys_list = list(student.keys())
print("Keys as a list:", keys_list)

Keys as a list: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [35]:
# exercise 8
values_list = list(student.values())
print("Values as a list:", values_list)

Values as a list: ['Shafiu', 'Muhammad', 'Male', 35, 'Single', ['Python', 'HTML', 'JavaScript', 'SQL', 'php', 'React', 'Django'], 'Nigeria', 'Zaria', 'Kaduna State']

In [36]:
# exercise 9
items_list = list(student.items())
print("Items as a list of tuples:", items_list)

Items as a list of tuples: [('first_name', 'Shafiu'), ('last_name', 'Muhammad'), ('gender', 'Male'), ('age', 35), ('marital_status', 'Single'), ('skills', ['Python', 'HTML', 'JavaScript', 'SQL', 'php', 'React', 'Django']), ('country', 'Nigeria'), ('city', 'Zaria'), ('address', 'Kaduna State')]

In [37]:
# exercise 10
del student['marital_status']
print("Modified student dictionary after deletion:", student)

Modified student dictionary after deletion: {'first_name': 'Shafiu', 'last_name': 'Muhammad', 'gender': 'Male', 'age': 35, 'skills': ['Python', 'HTML', 'JavaScript', 'SQL', 'php', 'React', 'Django'], 'country': 'Nigeria', 'city': 'Zaria', 'address': 'Kaduna State'}

In [38]:
# exercise 11
del dog